<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <form action="/auth/register" method="post">
          <div>
            <label>Username:</label>
            <input type="text" name="username" class="center-align"/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password" class="center-align"/>
          </div>
          <div>
            <label>First Name:</label>
            <input type="text" name="firstName" class="center-align"/>
          </div>
          <div>
            <label>Last Name:</label>
            <input type="text" name="lastName" class="center-align"/>
          </div>
          <div>
            <label>Email:</label>
            <input type="text" name="email" class="center-align"/>
          </div>
          <div>
            <label>Date of Birth:</label>
            <input type="date" name="dob" class="center-align"/>
          </div>
          <div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
  <i class="material-icons right">send</i>
</button>
            <!-- <input type="submit" value="Register"/> -->
          </div>
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
