<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main>
      <div class="container">
        <p>Hello, this is the main index page!</p><br/>
        <p><a href="/auth/register" class="waves-effect waves-light btn indigo darken-3" ><span class="orange-text text-lighten-5">click here to register</span></a></p>
        <p><a href="/auth/login" class="waves-effect waves-light btn indigo darken-3"><span class="orange-text text-lighten-5">click here to log in</span></a></p>
        <p><a href="/auth/logout" class="waves-effect waves-light btn indigo darken-3"><span class="orange-text text-lighten-5">click here to logout</span></a></p>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
