<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <p class="center-align">Hello, this is the user profile page!</p><br/>
        <p class="center-align"><%= user.firstName %></p>
        <p class="center-align"><%= user.lastName %></p>
        <p class="center-align"><%= user.email %></p>
        <p class="center-align"><%= user.dob %></p>
        <a href="/auth/logout" class="center-align">LOG OUT</a>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
